@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');

:root {
--darkBlue: hsl(233, 26%, 24%);
--limeGreen: hsl(136, 65%, 51%);
--brightCyan: hsl(192, 70%, 51%);
--grayishBlue: hsl(233, 8%, 62%);
--lightGrayishBlue: hsl(220, 16%, 96%);
--veryLightGray: hsl(0, 0%, 98%);
--white: hsl(0, 0%, 100%);
--fontSize: 18px;
--publicSans: 'Public Sans', sans-serif;
--thin: 300;
--normal: 400;
--bold: 700;
}

html * {
    box-sizing: border-box;
    font-family: var(--publicSans);
    font-size: var(--fontSize);
}

.desktop {
    display: none;
}


/* ----------- NAV ----------- */
nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    padding: 20px 20px 25px 20px;
    background: var(--white);
}

.logo {
    height: 20px;
}

.toggle-nav {
    float: right;
    padding: 0;
    margin: 0;
}

.toggle-nav img {height: 15px;}

ul {
    height: 0; overflow: hidden;
}

h1, h2 {
font-weight: var(--normal);
text-align: center;
}

h1 {
    margin: 8% 0;
    font-size: 3rem;
    line-height: 125%;
    color: var(--darkBlue);
}

p { 
    color: var(--grayishBlue);
    text-align: justify;
}

/* ----------------- Header --------------- */
    header {
        background-image: url(images/bg-intro-mobile.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-color: var(--veryLightGray);
    }

    .header-request {
        display: inline-flex;
        flex-direction: column;
        margin-top: 60px;
        width: 100%;
    }

    .mockups-image {
        margin: -20% auto 0 auto;
        max-width: 100%;
    }

    .request-container {
        padding: 5% 10%;
        background-color: var(--veryLightGray);
    }

    .request-btn {
    display: block;
    background: linear-gradient(119deg, var(--limeGreen), var(--brightCyan));
    padding: 12px 30px;
    margin: 30px auto;
    border-radius: 20px;
    color: var(--white);
    }

    /* ----------------------- MAIN -------------------- */

    main {
        padding: 0 10%;
    }